@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.image{
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    animation: fadein 1s;
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
}
.conteiner{
    width: 80%;
    margin: auto;
    padding: 5px;
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items:center;
}


@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.containerInfo{
    font-family: 'Helvetica';
    /* padding: 11em 0em 0em 0.5em; */
    /* background-color: rgba(0, 0, 5, 0.5); */
    /* background: linear-gradient( hsl(0 0% 0% / 0), hsl(0 0% 10% / .5), hsl(0 0% 0% /1) ); */
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(92,87,87,0) 30%); */
    /* background: linear-gradient(hsl(0 0% 40% / 0), hsl(0 0% 40%/.5), hsl(0 0% 0%/1)90%); */
    /* background: linear-gradient(hsl(0 0% 40%/ 0), hsl(0 0% 40% / .4) 10%, hsl(0 0% 40%/.8), hsl(0 0% 0%/1)90%); */
    background: linear-gradient(hsl(0 0% 16% / .7),hsl(0 0% 0%/1) 80%);

    height: 82px;
    width: 262px;
    text-align: left;
    position: absolute;
    top: 10.5em;
    /* left: 0.5em; */
    padding-left: 0.5em;
    padding-top: .5rem;
    text-shadow: 6px 4px 14px rgb(0 0 0 / 60%);
    color: white;
    margin: 0;
}

.containerInfo h3{
    margin: 0;
}

.containerInfo p{
    color: white;
    /* justify-content: right; */
    /* background-color: hsl(100 100% 20% / .7); */
    background-color: #1c7;
    opacity: .7;
    /* background-color: rgb(109, 0, 0); */
    /* width: max-content; */
    /* width: 83px; */
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 8px;
    top: 3em;
    margin-left: 13em;
    position: absolute;
    transition: .75s;
    transform: translateY(100%);
    opacity: 0;
}


.containerInfo ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.divGenres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.divGenres ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: max-content;
}


.container:hover .containerInfo p{
    
    transform: translateY(0%);
    opacity: 0.8;
    
}

.containerInfo p:hover{
    background-color: hsl(100 100% 20% / 1);
    filter: brightness(1.2);
}


.container:hover{
    transform: scale(1.05); 
} 

