body{
    background-color: #000000;
    
}
.background{
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   
}

.background2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    filter: blur(4px);
 }

.header{
    display: flex;
    background-color: #000000;
    margin-top: 2.5em;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.home{
    background-color: transparent;
}

.home img{
    width: 50px;
    height: 50px; 
    border-radius: 10px;
    transition-duration: 0.5s;
  }
.home img:hover{
      filter: brightness(2);
      filter: blur(.5px);
  }

.h1{
    color: #ffffff;
    font-family: Helvetica;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(185, 185, 185, 0.199);
    background-color: black;
    font-weight: lighter;
    background-size: cover;
}

.paginado1{
    
    justify-content: center;
    display: flex;
    /* margin-top: 3rem; */
    margin: 0 auto;
    animation: 2s;
    /* margin: 0 20em; */
    height: 36px;
}


.main{
    display: flex;
    margin-top: 1rem;
    
}

.games{
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(12em, 1fr)); */
    grid-template-columns: .2fr .2fr .2fr;
    grid-gap: 1.5em;
    /* grid-gap: 5em; */
    gap: 2.5em;
    margin: 0 2.5em;
}

.containerCard{
    
    border-radius: 10px;
    transition-duration: .5s;
    animation: fadein 2s;
    
    text-align: left;
}
.containerCard a{
    text-decoration: none;
    color: white;
}


 .sppiner{
    width: 3rem;
    /* width: 100%; */
    height: 3rem;
    flex-direction: column;
    border: 1rem solid #eff2fd;
    border-top-color: rgb(128, 128, 128);
    border-top-style:solid;
    border-width: 3px;
    position: relative;
    /* left: auto;
    right:70px; */
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
    filter: blur(1px);
    transition-duration: 0;
    margin: auto;
    margin-top: 180px;
    
}

@keyframes spin {
    from{
        opacity: 1;
    }
    to{
        transform: rotate(2turn);
        filter: blur(1px);
        
        opacity: 0,7;
    }
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.divSideBar{
 display: flex;
 flex-direction: column;
 height: 200%;
 width: 30%;
 background-color: #000000;
 position: absolute;
 left: 20px;
 top: 200px;
 justify-content: left;
 transition-duration: 1s;
 opacity: 0;
 animation: fadein 1s;
}

.containerAside{
   color:white;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   transition-duration: 0.5s;
   background: linear-gradient(
    #35343481,
    hsl(0 0% 0% / 0)  
    );
   border-width: 10px;
   
   padding: 0.5em;
   border-radius: 8px;
   position: sticky;
   height: 22em;
   top: 0;
   margin: 0 0 0 3rem;
   animation: fadein 2s;
}
.containerAside a{
    color: white;
}
.divSections{
    padding-left: 1rem;
}

.divSections:hover{
    color: grey;
}

.h1{
    display: flex;
    color:white;
    font-size: 25px;
    margin: auto;
}

.p{
    color: rgba(255, 255, 255, 0.473);
    font-size: 15px;
    opacity: 0.7;
}
.pButt{
    color: rgba(255, 255, 255, 0.473);
    font-size: 14px;
    opacity: 0.8;
    border-color: rgba(252, 253, 255, 0);
    padding: 2px;
    transition-duration: 0,2s;
    
}
pButt:hover{
    border: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0.473);
    
}

.containerSearchOrder{
    /* display: flex; */
    /* display:inline; */
    display: block;
    align-items: center;
    align-content: center;
}

.containerOrder{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    /* margin: 1em 0; */
    flex-wrap: wrap;
    align-content: center;
}

.containerSearch{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center;
    align-items: center; */
    margin: 2rem 0;
    flex-wrap: wrap;
    align-content: center;
    /* background-color: green; */
    height: 36px;
    /* width: 613px; */
    /* background-color: green; */
    /* background-color: green; */
    background: radial-gradient(circle, rgb(48 48 48) 0%, rgba(0,0,0,1) 52%);
}


.orderConteiner{
    width: 100%;
    display: flex;
    justify-content: right;
    
}

.divOrder {
    color: #fff;
    display: flex;
    align-items: center;
   transform: scale(0.9);
    width: 200px;
    /* margin-left: 1em; */
    margin-right: 5rem;
    font-weight: 300;
    /* margin-top: 6rem; */
    /* padding: 0.5em; */
    font-weight: 100;
    padding-left: 1em;
    height: 36px;
    justify-content: center;
    background-color: #35343481;
    border-radius: 13px;
    transition-duration: .5s;
    animation: fadein 2s;
}

select{
   outline: 0;
   border: 0;
   background: #0a4b3e00;
   background-image: none;
   flex: 1 1;
   /* padding: 0em .3em ; */
   color:rgb(255, 255, 255);
   cursor: pointer;
   font-size: 1em;
   font-family: Helvetica;  
}


select::-ms-expand {
    display: none;
}

.divOrder p{
    font-weight: 400;
}

.divOrder select{
   text-align: center;
   display: flex;
   width: 60px;
   height: 60px;
   
   line-height: 1;
   font-weight: 700;
   background: #67686800;
   transition-duration: .5s;
   /* border-radius: .25em; */
   border-radius: 8px;
}

.divOrder select:hover{
    background-color: transparent;
    color: grey;
}

.divOrder:hover{
    color: grey;
}

.divOrder:hover select{
    background-color: transparent;
    color: grey;
}

.divOrder select::after {
    
   position: absolute;
   top: 0;
   right: 0;
   align-items: center;
   align-content: center;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition: 2s all ease;
   border-radius: 8px;
}

.divOrder select:hover::after{
    color: #850101;
}

.divFilter {
 margin-top: 2em;
 padding-left: 1rem;
} 
.divFilter select{
    color: rgb(255, 255, 255);
    
}

.divFilter select:hover{
    color: grey;
}

.divFilter2{
    display: flex;
    margin-top: 2.5em;
    padding-left: 1rem;
}

.divFilter2 select:hover{
    color: grey;
}

.containerFiltersApplied{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em
}

.filtersApplied{
    /* color: #7a7a7a; */
    /* color: rgb(128, 177, 54); */
    color: #1c7;
    font-family: helvetica;
    font-style: revert;
    font-weight: 100;
}

.filtersApplied button{
    background: none;
    border: none;
    border: #6e6e6e;
    color: #b9b9b9;
    border-radius: 50%;
    font-size: 11px;
}

 .div{
    position: absolute;
    margin-left: 20%;
    top: 200px;
    background-color: #000000;

 }

 
  .searchBar{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 80px;
 }

 .paginado2{
    display: flex;
    position: relative;
    bottom: 100px;
}

 
 